<%= form_for(@tenant) do |f| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prename %><br>
    <%= f.text_field :prename %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :current_street_no %><br>
    <%= f.text_field :current_street_no %>
  </div>
  <div class="field">
    <%= f.label :current_zip_code_city %><br>
    <%= f.text_field :current_zip_code_city %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
