<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @common_space.value %>
</p>

<p>
  <strong>Start:</strong>
  <%= @common_space.start %>
</p>

<%= link_to 'Edit', edit_common_space_path(@common_space) %> |
<%= link_to 'Back', common_spaces_path %>
