<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @total_square_meter.value %>
</p>

<p>
  <strong>Start:</strong>
  <%= @total_square_meter.start %>
</p>

<%= link_to 'Edit', edit_total_square_meter_path(@total_square_meter) %> |
<%= link_to 'Back', total_square_meters_path %>
