<%= form_for(@rent) do |f| %>
  <% if @rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% @rent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :basic_rent %><br>
    <%= f.text_field :basic_rent %>
  </div>
  <div class="field">
    <%= f.label :room_ids %><br>
    <%= f.select("room_ids", Room.all.collect {|r| [ RoomsHelper::label(r), r.id ] }, {include_blank: true }, {multiple: true, size:15} ) %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br>
    <%= f.select("tenant_id", Tenant.all.collect {|t| [ TenantsHelper::label(t), t.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label :commons_share %><br>
    <%= f.number_field :commons_share %>
  </div>
  <div class="field">
    <%= f.label :custom_heating %><br>
    <%= f.text_field :custom_heating %>
  </div>
  <div class="field">
    <%= f.label :custom_assessory %><br>
    <%= f.text_field :custom_assessory %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
