<h1>Evaluating rents</h1>

<%= form_tag("/rents_eval", :method => "get") do %>
  <%= date_select :eval, :date %> 
  <%= submit_tag "ok" %>
<% end %>

<br/>
<b>Summe: Nettokalt vermietet: <%= @rents.collect { |r| r.basic_rent }.inject { |a,b| a+b } %> </b>
<br/>
<b>Benötigte Nettokaltmiete: <%= @needed_basic %> </b>
<br/>
<br/>

<b>Summe: m² vermietet: <%= @rented_square %> </b>
<br/>
<b>Gesamtfläche: <%= @total_square %> </b>
<br/>
<b>Gemeinschaftsfläche: <%= @common_space %> </b>
<br/>
<br/>

<b>Benötigte Heiznebenkosten: <%= @needed_heating %> </b>
<br/>
<b>Benötigte Sonstige Nebenkosten: <%= @needed_assessory %> </b>
<br/>
<br/>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Basic rent</th>
      <th>Room</th>
      <th>Tenant</th>
      <th>m²</th>
      <th>m² + Gemeinschaftsanteil</th>
      <th>heating charge</th>
      <th>assessory charge</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.start %></td>
        <td><%= rent.basic_rent %></td>
        <td><%= RoomsHelper::label(rent.room) %></td>
        <td><%= TenantsHelper::label(rent.tenant) %></td>
        <td><%= rent.room.square_meters %></td>
        <% rent_total_square = rent.room.square_meters + @common_space/@rents.length %>
        <td><%= rent_total_square %></td>
        <td><%= rent_total_square.to_f/@total_square * @needed_heating %></td>
        <td><%= rent_total_square.to_f/@total_square * @needed_assessory %></td>
        <td><%= link_to 'Show Details/Contract', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

