<h1>Evaluating rents</h1>

<%= form_tag("/rents_eval", :method => "get") do %>
  <%= date_select :eval, :date %> 
  <%= submit_tag "ok" %>
<% end %>

<h2>Current date: <%= @date %></h2>

<h2>Overview</h2>
<% sum_heating = 0 %>
<% sum_assessory = 0 %>

<table>
  <thead>
    <tr>
      <th>Tenant</th> <th>Rooms</th> <th>Commons Share</th> <th>m²</th> <th>m²+Gem.</th><td>€/m²</th><th>Basic rent</th><th>heating</th><th>custom heating</th><th>assessory</th><th>custom assessory</th><th>total</th><th>Start</th><td>Comment</td><th></th> 
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |contract| %>
      <tr>
        <td><%= TenantsHelper::label(contract.tenant) %></td>
        <td><%= contract.rooms.map { |r| RoomsHelper::label(r) }.join('; ') %></td>
        <td><%= (contract.commons_share) %></td>
        <td><%= deci(contract.square_meters) %></td>
        <td><%= deci(contract.total_square) %></td>
        <td><%= deci(contract.basic_rent/contract.total_square) %></td>
        <td><%= price(contract.basic_rent) %></td>
        <td><%= price(contract.heating_charges) %></td>
        <td><%= price(contract.custom_heating) %></td>
        <td><%= price(contract.assessory_charges) %></td>
        <td><%= price(contract.custom_assessory) %></td>
        <td><%= price(contract.sum_rent) %></td>
        <td><%= contract.start %></td>
        <td><%= contract.comment %></td>
        <td><%= link_to 'Show ', contract %> | 
          <%= link_to 'PDF', rents_contract_path(contract.id, :format => :pdf) %> |
          <%= link_to 'Edit', edit_rent_path(contract) %> | 
          <%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% heating = contract.custom_heating.nil? ? contract.heating_charges : contract.custom_heating %>
        <% assessory = contract.custom_assessory.nil? ? contract.assessory_charges : contract.custom_assessory %>
        <% sum_heating += heating %>
        <% sum_assessory += assessory %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Evaluation</h2>

<% sum_bacic_rent = @rents.collect { |r| r.basic_rent }.inject { |a,b| a+b } %>
<b>Summe Nettokalt vermietet: <%= price(sum_bacic_rent) %> </b> <br/>
<b>Benötigte Nettokaltmiete: <%= price(@needed_basic) %> </b> <br/>
<i>(diff: <%= price(sum_bacic_rent - @needed_basic) %>)</i><br/>
<br/>

<b>Anzahl vermieteter Räume: <%= rented_rooms = @rents.collect { |r| r.rooms.length }.inject { |a,b| a+b } %></b><br/>
<b>Anzahl vermietbarer Räume: <%= @number_rooms %></b></br>
<i>(diff: <%= rented_rooms - @number_rooms %>) </i></br>
<br/>

<b>Summe: m² vermietet: <%= deci(@rented_square) %> </b> <br/>
<b>Gemeinschaftsfläche: <%= deci(@common_space) %> </b><br/>
<b>Gesamtfläche: <%= deci(@total_square) %> </b> <br/>
<i>(diff: <%= deci(@rented_square + @common_space - @total_square) %>)</i><br/>
<br/>

<b>Summe Heizkosten: <%= price(sum_heating) %> </b><br/>
<b>Benötigte Heiznebenkosten: <%= price(@needed_heating) %> </b> <br/>
<i>(diff: <%= price(sum_heating - @needed_heating) %>)</i><br/>
<br/>
<b>Summe Sonstige Nebenkosten: <%= price(sum_assessory) %> </b><br/>
<b>Benötigte Sonstige Nebenkosten: <%= price(@needed_assessory) %> </b> <br/>
<i>(diff: <%= price(sum_assessory - @needed_assessory) %>)</i><br/>
<br/>

