<h1>Listing rents</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Basic rent</th>
      <th>Room</th>
      <th>Tenant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.start %></td>
        <td><%= rent.basic_rent %></td>
        <td><%= RoomsHelper::label(rent.room) %></td>
        <td><%= TenantsHelper::label(rent.tenant) %></td>
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_rent_path %>
