<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @rent.start %>
</p>

<p>
  <strong>Basic rent:</strong>
  <%= @rent.basic_rent %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @rent.rooms.map { |r| RoomsHelper::label(r) }.join('; ') %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= TenantsHelper::label(@rent.tenant) unless @rent.tenant.nil? %>
</p>

<p>
  <strong>Commons Share:</strong>
  <%= @rent.commons_share %>
</p>

<p>
  <strong>Is Office</strong>
  <%= @rent.is_office %>
</p>

<p>
  <strong>Custom heating:</strong>
  <%= @rent.custom_heating %>
</p>

<p>
  <strong>Custom assessory:</strong>
  <%= @rent.custom_assessory %>
</p>

<p>
  <strong>Comment</strong>
  <%= @rent.comment %>
</p>

<%= link_to 'PDF Contract', rents_contract_path(@rent.id, :format => :pdf) %> |
<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>

