<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @needed_heating_charge.value %>
</p>

<p>
  <strong>Start:</strong>
  <%= @needed_heating_charge.start %>
</p>

<%= link_to 'Edit', edit_needed_heating_charge_path(@needed_heating_charge) %> |
<%= link_to 'Back', needed_heating_charges_path %>
