<h3> Mietvertragverwaltung </h3>

<ul>
  <li> <%= link_to "Aktualisiere die Liste der Räume", rooms_path %> </li>
  <li> <%= link_to "Aktualisiere die Liste der Mieter_innen", tenants_path %> </li>
  <li> <%= link_to "Benötigte Nettokaltmiete", needed_basic_rents_path %> </li>
  <li> <%= link_to "Benötigte Heizkosten", needed_heating_charges_path %> </li>
  <li> <%= link_to "Benötigte Sonstige Nebenkosten", needed_assessory_charges_path %> </li>
</ul>
