<%= form_for(@rentable_room) do |f| %>
  <% if @rentable_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rentable_room.errors.count, "error") %> prohibited this rentable_room from being saved:</h2>

      <ul>
      <% @rentable_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
