<%= form_for(@needed_assessory_charge) do |f| %>
  <% if @needed_assessory_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@needed_assessory_charge.errors.count, "error") %> prohibited this needed_assessory_charge from being saved:</h2>

      <ul>
      <% @needed_assessory_charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
