<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @needed_assessory_charge.value %>
</p>

<p>
  <strong>Start:</strong>
  <%= @needed_assessory_charge.start %>
</p>

<%= link_to 'Edit', edit_needed_assessory_charge_path(@needed_assessory_charge) %> |
<%= link_to 'Back', needed_assessory_charges_path %>
